.container {
    width: 50%;
    margin: auto;
}

section {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
   
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="file"] {
    margin-bottom: 20px; /* Adjust as needed */
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Optional: Add some additional styling for better aesthetics */
h2 {
    color: #333;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e6e6e6;
    margin: 0;
}
