body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #86A8E7, #91EAE4);
    
}

.container {
    width: 100%;
    margin: flex;
    padding-top: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.list-group-item {
    border: none;
    padding: 8px;
}

.list-group-item strong {
    margin-right: 10px;
}

.row {
    margin: -15px;
}

.col-md-4 {
    padding: 15px;
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.card-title {
    color: #333; /* Cambia el color del texto según tus preferencias */
    font-size: 1.5em; /* Ajusta el tamaño del texto según tus preferencias */
    font-weight: bold; /* Puedes ajustar el grosor del texto */
    /* Otros estilos que desees agregar */
}
h2 {
    color: #333; /* Color del texto */
    font-size: 1.5em; /* Tamaño de la fuente */
    font-weight: bold; /* Grosor de la fuente */
    /* Otros estilos que desees agregar */
}

