body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #86A8E7, #91EAE4);
    align-items: auto;
    
}

.container {
    width: 100%;
    margin: flex;
    padding-top: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}
.card img {
    width: 100%;
    height: auto; /* Mantener la proporción de la imagen */
    display: block;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}


.list-group-item {
    border: none;
    padding: 8px;
}

.list-group-item strong {
    margin-right: 10px;
}

.row {
    margin: -15px;
}

.col-md-4 {
    padding: 15px;
}



.card-title {
    color: #333;
    font-size: 1.5em;
    font-weight: bold; 
   
}




.dropdown {
    position: relative;
    display: inline-block;
  }
  

  .boton {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 8px 12px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de selección */
  }
  
  /* Estilo para el menú desplegable */
  select {
    padding: 8px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del menú */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de selección */
  }
  
  /* Estilo para el contenedor del menú desplegable */
  form {
    display: inline-block;
  }
  
  /* Estilo para los elementos de opción en el menú desplegable */
  option {
    background-color: #fff; /* Color de fondo */
    color: #333; /* Color del texto */
  }
  
  /* Estilo para el menú desplegable cuando está abierto */
  select:focus {
    outline: none; /* Sin contorno al enfocar */
    border: 1px solid #4CAF50; /* Cambio de color del borde al enfocar */
  }
.titulo {
    color: #333; /* Color del texto */
    text-align: center; /* Alineación del texto al centro */
    margin-top: 20px; /* Espaciado superior */

}