body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Cambia el color de fondo según tus preferencias */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff; /* Cambia el color del encabezado según tus preferencias */
}

.list-group {
    list-style: none;
    padding: 0;
}

.list-group-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.list-group-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

a {
    display: inline-block;
    background-color: #28a745; /* Cambia el color del enlace según tus preferencias */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    background-color: #007bff; /* Cambia el color del botón según tus preferencias */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, a:hover {
    background-color: #0056b3; /* Cambia el color al pasar el ratón sobre el botón o el enlace según tus preferencias */
}
